* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  background-color: rgb(226 232 240);
  text-align: center;
  padding: 1%;
}

.main-container {
  justify-content: center;
  display: flex;
  padding: 2%;
}

h1,
h2,
h3,
h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.weather-icon {
  width: 30px;
  margin-left: 10px;
  box-shadow: black;
}

hr {
  height: 1px;
  border: none;
  background-color: black;
  opacity: 25%;
  margin: 2% 0% 2% 0%;
}

.weather-content {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
}

.search-container {
  display: flex;
  flex-direction: column;
  max-width: 30vw;
  align-items: center;
  padding: 2%;
  background-color: #e2e8f0;
  border-radius: 10px;
}

.location-container {
  display: flex;
  flex-direction: column;
  padding: 2%;
  background-color: #7dd3fc;
  border-radius: 10px;
}

.forecast-container {
  width: 70vw;
}

.title-h2 {
  margin: 0% 0% 2% 0%;
  text-transform: capitalize;
}

.search-btn {
  background-color: #0275d8;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin: 2% 0% 2% 0%;
}

.search-hr {
  margin: 5% 0% 5% 0%;
}

.recent-btn {
  background-color: #64748b;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin: 2% 0% 2% 0%;
  text-transform: capitalize;
}

.form-input {
  height: 40px;
  width: 100%;
  border: 1px solid;
  border-color: rgb(229 231 235);
  border-radius: 5px;
  padding: 10px;
  text-transform: capitalize;
}

.day-container {
  display: flex;
  justify-content: space-between;
  padding: 0% 0% 0% 0%;
}

.square-container {
  margin: 2% 0% 0% 0%;
  padding: 2% 2% 2% 2%;
  background-color: #7dd3fc;
  border-radius: 10px;
}

.square-container hr {
  margin: 5% 0% 5% 0%;
}
